.PageError {
  font-family: Helvetica Neue, Apple SD Gothic Neo, arial, '나눔고딕', Nanum Gothic, '돋움', Dotum, Tahoma, Geneva, sans-serif;
  text-align: center;
  margin: 0;
  padding: 100px 0;
  position: relative;
  & .PageHeader {
    border-bottom: 1px solid #cddce5;
  }
}

.PageError_Header {
  border-bottom: 1px solid #cddce5;
  text-align: center;
  font-size: 13px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.PageError_Header_Link {
  display: inline-block;
  padding: 15px 14px 12px;
}
.PageError_Header_Logo {
  width: 84px;
  height: 13px;
}

.Error_Title {
  margin: 8px 0 0;
  font-size: 50px;
  line-height: 1.24em;
  color: #303538;
}
.Error_Description {
  margin: 15px 0 20px;
  font-size: 16px;
  line-height: 1.6em;
  color: #525A61;
}
.Error_ButtonWrapper {
  margin-top: 30px;
  padding: 0;
}
.Error_ButtonElement {
  display: inline-block;
  padding: 0 4px;
}
.Error_Button {
  display: inline-block;
  width: 115px;
  margin: 0 2px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: background .2s,color .2s;
  outline: 0;
  box-sizing: border-box;
  border-radius: 4px;
}
.WhiteButton {
  color: #808991;
  background: #fff;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209,213,217,.3);
}
.GrayButton {
  color: #FFFFFF;
  background: #808991;
  border: 1px solid #798086;
  box-shadow: 0 1px 1px 0 rgba(209,213,217,.3);
}