.Footer {
  padding-bottom: 31px;
  background: var(--lightsteelblue_5);
  text-align: center;
}
.Footer_Headline_List,
.Footer_BizInfo_List,
.CompanyInfo_List,
.Footer_Terms_List {
  min-width: var(--min-content-width);
  margin: 0;
  padding: 0;
  list-style: none;
}
.Footer_Headline_List {
  padding: 40px 0 0;
}
.Footer_Headline_Item {
  display: inline-block;
  padding-left: 6px;
  &::before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 7px 0 0;
    border-radius: 3px;
    background: var(--slategray_30);
    content: '';
    vertical-align: top;
  }
  &:first-child {
    padding: 0;
    &::before {
      display: none;
    }
  }
}
.Footer_Headline_Link {
  display: inline-block;
  height: 19px;
  color: var(--slategray_80);
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
  transition: opacity .2s;
  &,
  &:active,
  &:visited,
  &:focus {
    color: var(--slategray_80);
  }
  & .Ridibooks_Logo_Icon {
    width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
    vertical-align: top;
    fill: var(--dodgerblue_50);
  }
  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }
}

.Footer_BizInfo_List {
  padding: 20px 0 0;
}
.Footer_BizInfo_Item {
  color: var(--slategray_40);
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  & .CompanyInfo_Item {
    display: inline-block;
    padding-left: 3px;
    font-size: 11px;
    &:first-child {
      padding: 0;
    }
  }
}

.Footer_Terms_List {
  padding: 9px 0 0;
}
.Footer_Terms_Item {
  display: inline-block;
  position: relative;
  padding: 10px 4px 10px 5px;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    transform: translate3d(0, -50%, 0);
    background: var(--slategray_10);
    content: '';
  }
  &:first-child {
    margin-left: 0;
    &::before {
      display: none;
    }
  }
}
.Footer_Term_Link {
  display: block;
  height: 1em;
  color: var(--slategray_60);
  font-size: 11px;
  line-height: 1em;
  text-decoration: none;
  transition: opacity .2s;
  &.Personal_Info_Term_Link {
    font-weight: 700;
  }
  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }
}

.Footer_Copyright {
  margin: 0;
  padding-top: 10px;
  color: var(--slategray_30);
  font-size: 14px;
}

/* Dark Theme --------------------------- */
.Footer.Footer-dark {
  background: var(--bluegray_100);
  & .Footer_Headline_List {
    & .Footer_Headline_Item {
      &::before {
        background: var(--slategray_40);
      }
    }
    & .Footer_Headline_Link {
      &,
      &:active,
      &:visited,
      &:focus {
        color: var(--slategray_40);
      }
    }
  }
  & .Footer_BizInfo_List {
    & .Footer_BizInfo_Item {
      color: var(--slategray_60);
    }
  }
  & .Footer_Terms_List {
    & .Footer_Terms_Item {
      & .Footer_Term_Link {
        color: var(--slategray_40);
      }
      &::before {
        background: var(--slategray_80);
      }
    }
  }
  & .Footer_Copyright {
    color: var(--slategray_60);
  }
}
