.RSGTab_List_Item_Button {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 0 4px;
  border: 0;
  border-bottom: 2px solid #0000;
  outline: none;
  background: 0 0;
  color: #808991;
  font-size: 13px;
  font-weight: 700;
  line-height: 36px;
  cursor: pointer;
  transition: border-color .2s;
  vertical-align: top;
  appearance: none;
  &.active {
    border-bottom-color: var(--slategray_80);
    color: var(--slategray_80);
  }
  @media (hover: hover) {
    &:hover:not(.active) {
      border-bottom-color: var(--slategray_50);
    }
  }
  @media (hover: none) {
    &:active {
      border-bottom-color: var(--slategray_50);
    }
  }
}

.RSGTab_List_Item_Count {
  padding-left: 3px;
  color: #b8bfc4;
  font-weight: 500;
  transition: color .2s;
  @nest .active & {
    color: var(--slategray_80);
  }
}

.RSGTab_List {
  @apply --reset-list;

  box-shadow: inset 0 -2px 0 0 #d1d5d9;
  cursor: default;

  & .RSGTab_List_Item {
    display: inline-block;
    margin: 0;
    margin-right: 13px;
    padding: 0
  }
}

.RSGTab_List-justify {
  @apply --reset-list;

  box-sizing: border-box;
  display: flex;
  width: auto;
  height: 38px;
  padding: 0 10px;
  box-shadow: inset 0 -1px 0 0 #e6e8eb;

  & .RSGTab_List_Item {
    flex: auto;
    width: auto;
    text-align: center;
  }
}
