@import 'InstantSearch.css';
@import 'SearchHistory.css';

.GNBSearchWrapper {
  display: inline-block;
  vertical-align: top;
  & .dim {
    display: none;
  }
  &.active,
  &.GNBSearchWrapper-typeBlock {
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--gnb_mobile_height);
    padding: var(--mobile-search-vertical-inner-padding);
    background: var(--bluegray_90);
    & .GNBSearchButton {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 38px;
      height: var(--gnb_mobile_height);
      @nest .androidApp & {
        height: var(--gnb_android_app_height);
      }
    }
    & .GNBSearchInputWrapper {
      display: block;
      margin-left: 32px;
      &:not(.GNBSearchInputWrapper-empty) {
        padding-right: 38px;
      }
      @nest .androidApp & {
        height: calc(var(--gnb_android_app_height) - (var(--mobile-search-vertical-inner-padding) * 2));
      }
      @nest .iosApp & {
        height: calc(var(--gnb_ios_app_height) - (var(--mobile-search-vertical-inner-padding) * 2));
      }
    }
    & .GNBSearchInput {
      @nest .androidApp & {
        height: calc(var(--gnb_android_app_height) - (var(--mobile-search-vertical-inner-padding) * 2));
        line-height: calc(var(--gnb_android_app_height) - (var(--mobile-search-vertical-inner-padding) * 2));
      }
      @nest .iosApp & {
        height: calc(var(--gnb_ios_app_height) - (var(--mobile-search-vertical-inner-padding) * 2));
        line-height: calc(var(--gnb_ios_app_height) - (var(--mobile-search-vertical-inner-padding) * 2));
      }

    }
    & .GNBSearchResetButton {
      display: block;
    }
    @nest .androidApp & {
      height: var(--gnb_android_app_height);
    }
    @nest .iosApp & {
      height: var(--gnb_ios_app_height);
    }
  }
}

.GNBSearchWrapper-colored {
  & .GNBSearchInputWrapper {
    background: rgba(255, 255, 255, .1);
    color: #fff;
  }
  &.active {
    & .RSGIcon-search {
      fill: rgba(255, 255, 255, .5);
    }
  }
  & .GNBSearchInput::-webkit-input-placeholder { color: rgba(255, 255, 255, .5); }
  & .GNBSearchInput:-moz-placeholder { color: rgba(255, 255, 255, .5); }
  & .GNBSearchInput:-ms-input-placeholder { color: rgba(255, 255, 255, .5); }
  & .GNBSearchInput:-moz-placeholder { color: rgba(255, 255, 255, .5); }
}


.GNBSearchInput::-ms-clear,
.GNBSearchInput::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.GNBSearchInput::-webkit-search-decoration,
.GNBSearchInput::-webkit-search-cancel-button,
.GNBSearchInput::-webkit-search-results-button,
.GNBSearchInput::-webkit-search-results-decoration {
  display: none;
}


.GNBSearchButton {
  @apply --reset-button;

  box-sizing: border-box;
  height: var(--gnb_mobile_height);
  padding: 13px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity .2;
  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }
  @nest .androidApp & {
    @media (--mobile-screen) {
      height: var(--gnb_android_app_height);
      padding-top: calc((var(--gnb_android_app_height) - 18px) / 2);
    }
  }
  @nest .iosApp & {
    @media (--mobile-screen) {
      height: var(--gnb_ios_app_height);
      padding-top: 11px;
    }
  }
}
.GNBSearchButtonIcon {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.GNBSearchButtonIcon_IosInApp {
  width: 24px;
  height: 24px;
}
.GNBSearchInputWrapper {
  box-sizing: border-box;
  display: none;
  position: relative;
  height: 100%;
  min-height: 32px;
  padding: 0 40px 0 10px;
  border-radius: 3px;
  outline: none;
  background: var(--bluegray_70);
  text-align: left;
  vertical-align: top;
  &.GNBSearchInputWrapper-empty {
    padding-right: 10px;
  }
}
.GNBSearchIcon {
  display: none;
  position: absolute;
  top: 9px;
  left: 7px;
  width: 13px;
  height: 13px;
  margin-right: 8px;
  fill: var(--lightsteelblue_100);
  @nest .androidApp & {
    @media (--mobile-screen) {
      top: 50%;
      margin-top: -6px;
    }
  }
}
.GNBSearchInput {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 13px;
  line-height: 32px;
  vertical-align: top;

  &::-webkit-input-placeholder { color: var(--lightsteelblue_100); }
  &:-moz-placeholder { color: var(--lightsteelblue_100); }
  &:-ms-input-placeholder { color: var(--lightsteelblue_100); }
  &:-moz-placeholder { color: var(--lightsteelblue_100); }
}
.GNBSearchResetButton {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.GNBSearchResetButtonIcon {
  width: 12px;
  height: 12px;
  fill: #fff;
}

@media (--mobile-screen) {
  .GNBSearchWrapper.GNBSearchWrapper-typeBlock {
    position: absolute;
    top: var(--mobile-blocked-search-padding);
    left: 0;
    height: 44px;
    padding: var(--mobile-search-vertical-inner-padding) 10px;
    & .GNBSearchButton {
      display: none;
    }
    & .GNBSearchInputWrapper {
      position: relative;
      margin: 0;
      padding: 0 40px 0 29px;
      z-index: 901;
    }
    & .GNBSearchIcon {
      display: block;
      fill: #fff;
    }
    & .dim {
      margin: 0;
      padding-top: var(--gnb_mobile_height);
      @nest .androidApp & {
        padding-top: var(--gnb_android_app_height);
      }
    }
    @nest .androidApp & {
      top: 41px;
    }
    @nest .iosApp & {
      padding: var(--mobile-search-vertical-inner-padding) 10px var(--mobile-search-vertical-inner-padding) 38px;
      & .GNBSearchButton {
        display: inline-block;
      }
    }
  }
  .GNBSearchWrapper.active {
    & .dim {
      box-sizing: border-box;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      margin-top: var(--gnb_mobile_height);
      padding: 0;
      content: '';
      z-index: 900;
      &::after {
        display: block;
        width: 100%;
        height: 100%;
        background: var(--slategray_70);
        content: '';
        opacity: .5;
      }
      @nest .androidApp & {
        margin-top: var(--gnb_android_app_height);
        padding: 0;
      }
    }
  }
}

@media (--pc-screen) {
  .GNBSearchWrapper {
    &.active,
    &.GNBSearchWrapper-typeBlock {
      position: relative;
      width: auto;
      height: var(--gnb_pc_height);
      padding: 14px 0 14px 38px;
      background: transparent;
      text-align: right;
      z-index: 900;
      & .GNBSearchInputWrapper {
        display: inline-block;
        margin: 0;
        z-index: 999;
      }
      & .GNBSearchButton {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: default;
        z-index: 998;
        & .GNBSearchButtonIcon {
          display: none;
        }
      }
    }
  }
  .GNBSearchButton {
    height: var(--gnb_pc_height);
    padding: calc((var(--gnb_pc_height) - 17.5px) / 2) 10px;
  }
  .GNBSearchInputWrapper {
    width: 300px;
    padding: 0 40px 0 29px;
  }
  .GNBSearchIcon {
    display: block;
  }
  .GNBSearchInput { display: inline-block; }
}
