.Tabs {
  @apply --reset-list;

  border-bottom: 1px solid #d1d5d9;
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
  }
  @media (--mobile-screen) {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}

.Tab {
  display: inline-block;
  height: 45px;
  margin: 0 20px;

  &:first-child {
    margin-left: 0;
  }
  @media (--mobile-screen) {
    display: table-cell;
    margin: 0;
  }
}

.Tab_Button {
  @apply --reset-button;
  position: relative;
  display: block;
  background: none;
  border: none;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: var(--slategray_50);
  font-weight: 700;

  &:focus,
  &:visited {
    color: var(--slategray_50);
  }

  &.active {
    color: var(--slategray_90);
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background: #7580ff;
      bottom: -1px;
      left: 0;
    }
  }
}