.RSGToast {
  top: auto;
  right: 0;
  bottom: 0;
  overflow: visible;
  cursor: default;
  z-index: 99999;

  & .vex-overlay {
    display: none;
  }

  & .vex-content {
    box-sizing: border-box;
    display: block;
    position: fixed;
    padding: 15px 50px 15px 15px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .9);
    color: #aaa;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: -.03em;
    line-height: 1.45em;
    text-align: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    pointer-events: inherit;
    z-index: 99999;
  }

  & .vex-content.RSGToast_Content-success {
    & .vex-dialog-message {
      color: #5abf0d;
      &:before {
        background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2048%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%235abf0d%22%3E%3Cpath%20d%3D%22M24%200c13.255%200%2024%2010.745%2024%2024S37.255%2048%2024%2048%200%2037.255%200%2024%2010.745%200%2024%200zm12.464%2014.795c.213-.35.327-.751.331-1.16a2.52%202.52%200%200%200-2.606-2.418%202.656%202.656%200%200%200-2.043.934l-.01.013a2.507%202.507%200%200%200-.336.509L20.824%2029.946l-4.864-5.474a3.211%203.211%200%200%200-2.53-1.379%202.428%202.428%200%200%200-2.24%202.72c.047.651.325%201.265.786%201.728l6.738%208.277c.54.604%201.304.958%202.114.979a2.33%202.33%200%200%200%202.112-.979l13.347-20.752a1.84%201.84%200%200%200%20.178-.266v-.005z%22/%3E%3C/svg%3E) center center no-repeat;
      }
    }
  }

  & .vex-content.RSGToast_Content-fail {
    & .vex-dialog-message {
      color: #f88792;
      &:before {
        background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2049%2049%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23f88792%22%3E%3Cpath%20d%3D%22M24.1.9C10.9.9.1%2011.7.1%2024.9s10.8%2024%2024%2024%2024-10.8%2024-24-10.8-24-24-24zm0%2040.5c-2.1%200-3.8-1.7-3.8-3.8%200-2.1%201.7-3.8%203.8-3.8%202.1%200%203.8%201.7%203.8%203.8%200%202-1.7%203.8-3.8%203.8zm3.8-16.5c0%202.1-1.7%203.8-3.8%203.8-2.1%200-3.8-1.7-3.8-3.8V12.3c0-2.1%201.7-3.8%203.8-3.8%202.1%200%203.8%201.7%203.8%203.8v12.6z%22/%3E%3C/svg%3E) center center no-repeat;
      }
    }
  }

  & .vex-close {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    transform: translateY(-50%);
    background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2048%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23666%22%3E%3Cpath%20d%3D%22M48%205.3L29.3%2024%2048%2042.7%2042.7%2048%2024%2029.3%205.3%2048%200%2042.7%2018.7%2024%200%205.3%205.3%200%2024%2018.7%2042.7%200%2048%205.3z%22/%3E%3C/svg%3E) center center no-repeat;
    background-size: 100% 100%;
    font-size: 0;
    text-indent: -444px;
    cursor: pointer;
    transition: background-image .1s ease-in;
    &:hover {
      background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2048%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23aaa%22%3E%3Cpath%20d%3D%22M48%205.3L29.3%2024%2048%2042.7%2042.7%2048%2024%2029.3%205.3%2048%200%2042.7%2018.7%2024%200%205.3%205.3%200%2024%2018.7%2042.7%200%2048%205.3z%22/%3E%3C/svg%3E) center center no-repeat;
    }
  }

  & .vex-dialog-input,
  & .vex-dialog-buttons {
    display: none;
  }

  & .vex-dialog-message {
    position: relative;
    padding-left: 21px;
    color: #99d1ff;
    font-size: 14px;
    line-height: 1.45em;

    &:before {
      display: inline-block;
      position: absolute;
      top: 11px;
      left: 0;
      width: 14px;
      height: 14px; /* With odd number height, strangely the top and bottom of the icon are cut off in mac OS X High Sierra 10.13.6 */
      overflow: hidden;
      transform: translateY(-50%);
      background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2048%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%2399d1ff%22%3E%3Cpath%20d%3D%22M24%200c13.255%200%2024%2010.745%2024%2024S37.255%2048%2024%2048%200%2037.255%200%2024%2010.745%200%2024%200zm12.464%2014.795c.213-.35.327-.751.331-1.16a2.52%202.52%200%200%200-2.606-2.418%202.656%202.656%200%200%200-2.043.934l-.01.013a2.507%202.507%200%200%200-.336.509L20.824%2029.946l-4.864-5.474a3.211%203.211%200%200%200-2.53-1.379%202.428%202.428%200%200%200-2.24%202.72c.047.651.325%201.265.786%201.728l6.738%208.277c.54.604%201.304.958%202.114.979a2.33%202.33%200%200%200%202.112-.979l13.347-20.752a1.84%201.84%200%200%200%20.178-.266v-.005z%22/%3E%3C/svg%3E) center center no-repeat;
      background-size: 100% 100%;
      font-size: 0;
      text-indent: -444px;
      content: "";
    }
  }
}

.RSGToast_Message {
  padding-right: 8px;
}

.RSGToast_FunctionButton {
  &,
  &:link,
  &:visited,
  &:focus,
  &:hover {
    @apply --reset-button;

    display: inline-block;
    border-bottom: 0;
    background: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: 0;
    appearance: none;
  }
}

.RSGToast_ArrowIcon {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-bottom: 0;
  margin-left: 7px;
  overflow: hidden;
  background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2022%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22white%22%3E%3Cpath%20d%3D%22M.2%2022l3.1%202%208-12-8-12L.2%202l6.6%2010L.2%2022zm10.5%200l3.1%202%208-12-8-12-3.1%202%206.6%2010-6.6%2010z%22/%3E%3C/svg%3E) center center no-repeat;
  background-size: 100% 100%;
  font-size: 0;
  text-indent: -444px;
  transition: margin-left .2s;
  vertical-align: 12%;

  @nest .RSGToast_FunctionButton:hover & {
    margin-left: 10px;
  }
}

body.vex-open {
  overflow: auto;
}

.RSGToast {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 0 10px 10px;

  & .vex-content {
    position: relative;
    -webkit-backface-visibility: hidden;
    animation: fade-in-slideup .3s;
  }

  &.vex-closing .vex-content {
    -webkit-backface-visibility: hidden;
    animation: fade-out-slidedown .3s;
  }
}


@media (--pc-screen) {
  .RSGToast {
    & .vex-content {
      position: fixed;
      top: 66px;
      left: 50%;
      width: 420px;
      margin-left: -210px;
      -webkit-backface-visibility: hidden;
      animation: fade-in-slidedown .3s;

      &.vex-closing .vex-content {
        -webkit-backface-visibility: hidden;
        animation: fade-out-slideup .3s;
      }

      @media only screen and (max-width: 700px) {
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }
}
