:root {
  --reasonable_section_mobile_height: 470px;
  --reasonable_section_pc_height: 600px;
}

.BreakRow {
  @media (--pc-screen) {
    clear: both;
  }
}

img.ImageForPc {
  display: none;
}
img.ImageForMobile {
  display: block;
}
@media (--pc-screen) {
  img.ImageForPc {
    display: block;
  }
  img.ImageForMobile {
    display: none;
  }
}

@media (--mobile-screen) {
  .Footer {
    padding-bottom: 70px;
  }
}

.Load_Trigger_Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Section_MainCopy {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
  @media (--pc-screen) {
    font-size: 40px;
    line-height: 59px;
  }
}
.Section_Description {
  margin: 0;
  padding: 14px 0 0;
  font-size: 15px;
  line-height: 25px;
  @media (--pc-screen) {
    font-size: 18px;
    line-height: 32px;
  }
}
.Section_Button {
  box-shadow: 1px 1px 1px 0 rgba(209, 213, 217, .3);
  -webkit-appearance: none;
  @apply --reset-font-unlimited;
  & > .RSGIcon-arrow5Right {
    width: 4.7px;
    height: 8px;
    margin: 2px 0 0 5px;
    fill: #fff;
  }
}

.SectionMain {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  background: url(/unlimited/dist/images/intro/hero_bg_new.jpg) center center no-repeat;
  background-size: cover;
  & .Section_MainCopy,
  & .Section_Description,
  & .Section_Button {
    transform: translate(0, 50px);
    opacity: 0;
    transition: transform .8s, opacity .5s;
  }
  & .Section_Description {
    transition-delay: .3s;
  }
  & .Section_Button {
    transition-delay: .6s;
  }
  &.active {
    & .Section_MainCopy,
    & .Section_Description,
    & .Section_Button {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
@media (--mobile-screen) {
  .SectionMain {
    height: 100vh;
    max-height: 640px;
    background: url(/unlimited/dist/images/intro/m.hero_bg_new.jpg) center center no-repeat;
    background-size: cover;
    &.Button-fixed {
      & .Section_Description {
        padding-bottom: 94px;
      }
      & .Section_Button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        z-index: 999;
      }
    }
  }
}
.SectionMain_BgImages {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.SectionMain_Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px;
  color: #fff;
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
  }
}

.SectionMain_MainCopy {
  margin: 0;
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
  @media (--pc-screen) {
    font-size: 42px;
    line-height: 59px;
  }
}

.SectionMain_Description {
  @media (--pc-screen) {
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
  }
}

.SectionMain_Button {
  width: 100%;
  height: 50px;
  margin: 44px 0 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  box-shadow: 1px 1px 1px 0 rgba(31, 140, 230, .3);

  & > .RSGIcon-arrow5Right {
    fill: #fff;
  }
  @media (--pc-screen) {
    width: 240px;
  }
}


.SectionFeatured {
  padding: 70px 0 0;
  background: white;
  text-align: center;
  @media (--pc-screen) {
    padding: 0;
    overflow: hidden;
    text-align: left;
  }
  &.active {
    & .SectionFeatured_Image_1,
    & .SectionFeatured_Image_2 {
      opacity: 1;
    }
    & .SectionFeatured_Image_3 {
      transform: translate(0, -50px);
    }
  }
}
.SectionFeature_Content {
  @media (--pc-screen) {
    display: table;
    width: 800px;
    margin: 0 auto;
    table-layout: fixed;
  }
}
.SectionFeature_CopyWrapper {
  @media (--pc-screen) {
    display: table-cell;
    padding: 170px 0 163px;
  }
}
.SectionFeatured_MainCopy {
  color: #000;
}

.SectionFeatured_Description {
  padding: 14px 0 30px;
  color: #000;
}

.SectionFeatured_ImageWrapper {
  position: relative;
  width: 100%;
  min-height: 317px;
  overflow: hidden;
  @media (--pc-screen) {
    box-sizing: border-box;
    display: table-cell;
    width: 450px;
    height: 290px;
    overflow: visible;
  }
}

[class^="SectionFeatured_Image_"] {
  position: absolute;
  left: 50%;
}

.SectionFeatured_Image_1,
.SectionFeatured_Image_2 {
  width: 450px;
  height: 291px;
  margin-left: -225px;
  opacity: 0;
  @media (--pc-screen) {
    width: 700px;
    height: auto;
    margin-left: -240px;
  }
}
.SectionFeatured_Image_1 {
  bottom: 0;
  transition: opacity 1.3s linear;
  @media (--pc-screen) {
    bottom: 20px;
  }
}
.SectionFeatured_Image_2 {
  bottom: 0;
  transition: opacity 1s linear;
  transition-delay: .3s;
  @media (--pc-screen) {
    bottom: 20px;
  }
}

.SectionFeatured_Image_3 {
  bottom: calc(-115px - 50px);
  width: 240px;
  height: 405px;
  margin-left: -120px;
  transition: transform 1s linear;
  @media (--pc-screen) {
    bottom: calc(-104px - 50px);
    width: 370px;
    height: auto;
    margin-left: -60px;
  }
}


.SectionReasonable {
  box-sizing: border-box;
  position: relative;
  height: var(--reasonable_section_mobile_height);
  padding-top: 70px;
  overflow: hidden;
  background: var(--bluegray_90);
  @media (--pc-screen) {
    height: var(--reasonable_section_pc_height);
    padding: 0;
  }
}
.SectionReasonable.active {
  & .SectionFeatured_Reasonable_1,
  & .SectionFeatured_Reasonable_3 {
    transform: translate(-100px, 0);
  }
  & .SectionFeatured_Reasonable_2,
  & .SectionFeatured_Reasonable_4 {
    transform: translate(100px, 0);
  }
  & .SectionFeatured_Reasonable_5 {
    transform: translate(0, -50px);
  }
}

.SectionReasonable_RotateWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--reasonable_section_mobile_height);
  overflow: hidden;
  z-index: 5;
  @media (--pc-screen) {
    height: var(--reasonable_section_pc_height);
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        -moz-linear-gradient(
          left,
          rgba(23, 32, 46, 1) 0%,
          rgba(0, 0, 0, 0) 25%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 75%,
          rgba(23, 32, 46, 1) 100%
        ); /* FF3.6-15 */

      background:
        -webkit-linear-gradient(
          left,
          rgba(23, 32, 46, 1) 0%,
          rgba(0, 0, 0, 0) 25%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 75%,
          rgba(23, 32, 46, 1) 100%
        ); /* Chrome10-25,Safari5.1-6 */

      background:
        linear-gradient(
          to right,
          rgba(23, 32, 46, 1) 0%,
          rgba(0, 0, 0, 0) 25%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 75%,
          rgba(23, 32, 46, 1) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      content: '';
      z-index: 5;
    }
  }
}

.SectionReasonable_BgImageWrapper {
  margin-left: -843px;
  transform: rotate(-19deg);
  background: var(--bluegray_90);
}

.SectionFeatured_Reasonable_1,
.SectionFeatured_Reasonable_2,
.SectionFeatured_Reasonable_3,
.SectionFeatured_Reasonable_4 {
  display: block;
  position: absolute;
  left: 50%;
  width: 1686px;
  z-index: 5;
}
.SectionFeatured_Reasonable_1,
.SectionFeatured_Reasonable_3 {
  margin-left: calc(-363px + 100px);
  transition: transform 2s ease-in-out;
  @media (--pc-screen) {
    margin-left: calc(-513px + 100px);
  }
}
.SectionFeatured_Reasonable_2,
.SectionFeatured_Reasonable_4 {
  margin-left: calc(-263px - 100px);
  transition: transform 2.4s ease-in-out;
  @media (--pc-screen) {
    margin-left: calc(-413px - 100px);
  }
}
.SectionFeatured_Reasonable_1 {
  top: -188px;
}
.SectionFeatured_Reasonable_2 {
  top: 90px;
}
.SectionFeatured_Reasonable_3 {
  top: 368px;
}
.SectionFeatured_Reasonable_4 {
  top: 643px;
}
.SectionFeatured_Reasonable_5 {
  position: absolute;
  top: 389px;
  left: 50%;
  width: 239px;
  height: 420px;
  margin-left: 175px;
  transition: transform 3s ease-in-out;
  z-index: 6;
  @media (--pc-screen) {
    top: 260px;
    width: 350px;
    height: auto;
    margin-left: -68px;
  }
}

.SectionReasonable_ContentsWrapper {
  position: relative;
  text-align: center;
  z-index: 10;
  @media (--pc-screen) {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    padding: 180px 0 0 558px;
    text-align: left;
  }
}

.SectionReasonable_MainCopy {
  color: #fff;
}
.SectionReasonable_Description {
  color: #fff;
}


.SectionPromotion {
  box-sizing: border-box;
  background: white;
  &.active {
    & .Section_MainCopy,
    & .Section_Description,
    & .Section_Button {
      transform: translate(0, 0);
    }
  }
}

.SectionPromotion_InnerWrapper {
  box-sizing: border-box;
  height: 500px;
  padding-top: 70px;
  overflow-x: visible;
  text-align: center;
  & .Section_MainCopy,
  & .Section_Description,
  & .Section_Button {
    transform: translate(0, 20px);
    transition: transform .8s;
  }
  & .Section_Button {
    transition-delay: .3s;
  }

  @media (--pc-screen) {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }
}

.SectionPromotion_Content {
  @media (--pc-screen) {
    display: inline-block;
    width: 280px;
    height: 600px;
    padding-top: 155px;
    text-align: left;
    vertical-align: top;
  }
}

.SectionPromotion_MainCopy,
.SectionPromotion_Description {
  color: #000;
}

.SectionPromotion_ImageWrapper {
  box-sizing: border-box;
  height: 328px;
  overflow-y: hidden;
  @media (--pc-screen) {
    position: absolute;
    top: 0;
    right: -52px;
    height: 600px;
    padding-top: 20px;
  }
}
.SectionPromotion_Image {
  width: 287px;
  height: 488px;
  @media (--pc-screen) {
    width: 450px;
    height: auto;
  }
}

.SectionPromotion .SectionMain_Button {
  display: none;
  @media (--pc-screen) {
    display: flex;
  }
}
