@import 'slick.1.6.0.min.css';

@custom-media --big-banner-breakpoint (min-width: 432px);

.BigBanner {
  position: relative;
}

.BigBanner_Dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  transform: translateX(-50%);

  & > li {
    display: inline-block;

    & > button {
      width: 4px;
      height: 4px;
      padding: 0;
      border: 0;
      border-radius: 50%;
      background: #fff;
      font-size: 0;
      opacity: .3;
    }

    &.slick-active {
      & > button {
        opacity: 1;
      }
    }

    & + li {
      margin-left: 10px;
    }
  }
}

.BigBanner_Item {
  display: block;
  width: 100%;
  position: relative;
  @media (--pc-screen) {
    height: 288px;
    padding-top: 0;
  }
  @media (--mobile-screen) {
    &::before {
      display: block;
      position: absolute;
      width: 100%;
      padding-top: calc((2 / 3) * 100%);
      content: '';
    }
  }

  & > img {
    pointer-events: none;
  }
  @media (--big-banner-breakpoint) {
    @nest .slick-slide & {
      &::before {
        position: absolute;
        top: 0;
        right: 1px;
        left: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        content: '';
        transition: background-color 200ms linear;
      }
    }
    @nest .slick-slide.slick-active & {
      &::before {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

