:root {
  --pc-hotRelease-section-height: 433px;
  --inline-120-hotRelease-section-height: 340px;
  --inline-110-hotRelease-section-height: 326px;
}
@custom-media --hotRelease-slider-view (min-width: 901px);
@custom-media --hotRelease-inline-view (max-width: 900px);

.HomeSection_HotRelease {
  margin-top: 4px;
  box-sizing: border-box;
  background-color: var(--bluegray_90);
  & .Skeleton {
    background-color: #111a27;
  }
  @media (--mobile-screen) {
    height: var(--inline-110-hotRelease-section-height);
  }
  @media (--hotRelease-inline-view) {
    height: var(--inline-120-hotRelease-section-height);
  }
  @media (--hotRelease-slider-view) {
    position: relative;
    height: var(--pc-hotRelease-section-height);
    width: 100%;
  }
  & .InlineHorizontalBookList {
    padding-bottom: 30px;
  }
  & .InlineHorizontalBookList_Item {
    @media (hover: hover) {
      &:hover {
        & .InlineHorizontalBookList_Title {
          color: #fff;
          opacity: .8;
        }
      }
    }
    @media (hover: none) {
      &:active {
        & .InlineHorizontalBookList_Title {
          color: #fff;
          opacity: .8;
        }
      }
    }
  }
  & .InlineHorizontalBookList_Link {
    flex-direction: column;
    width: 110px;
  }
  & .InlineHorizontalBookList_Title,
  & .InlineHorizontalBookList_Author {
    width: 110px;
  }
  & .InlineHorizontalBookList_Author {
    display: block;
    display: -webkit-box;
    max-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    transition: opacity .2s;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
  }
  & .InlineHorizontalBookList_Title {
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    transition: opacity .2s;
  }
  & .InlineHorizontalBookList_Author {
    padding-top: 4px;
    font-size: 13px;
    color: var(--slategray_30);
  }
}
.HomeSection_HotRelease_Contents {
  position: relative;
  box-sizing: border-box;
  background: url(../images/hot_release_bg@2x.jpg) center center no-repeat;
  background-size: 870px 473px;
  @media (--mobile-screen) {
    height: var(--inline-110-hotRelease-section-height);
  }
  @media (--hotRelease-inline-view) {
    height: var(--inline-120-hotRelease-section-height);
  }
  @media (--hotRelease-slider-view) {
    box-sizing: border-box;
    width: 825px;
    height: var(--pc-hotRelease-section-height);
    margin: 0 auto;
    & .Slider_ControlButton_Left {
      left: -178px;
    }
    & .Slider_ControlButton_Right {
      right: -178px;
    }
  }
  @media (--hotRelease-inline-view) {
    padding: 0 20px;
  }
}
.HomeSection_HotRelease_Title {
  padding-top: 45px;
  font-size: 24px;
  letter-spacing: -0.3px;
  color: #fff;
  @media (--hotRelease-inline-view) {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }
}
.HomeSection_HotRelease_NewBadge {
  width: 40px;
  height: 22px;
  margin-left: 10px;
  vertical-align: top;
  @media (--hotRelease-inline-view) {
    width: 33px;
    height: 18px;
    margin-left: 6px;
  }
}
.HomeSection_HotRelease_Slider {
  padding-top: 40px;
}
.HomeSection_HotRelease_Book {
  padding: 0 12.5px;
}
.HomeSection_HotRelease_Book_Link {
  text-decoration: none;
  text-align: left;
}
.HomeSection_HotRelease_Book_Title,
.HomeSection_HotRelease_Book_Author {
  display: block;
  display: -webkit-box;
  width: 140px;
  max-height: 2.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  transition: color .2s;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.HomeSection_HotRelease_Book_Title {
  -webkit-line-clamp: 2;
  padding-top: 8px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
}
.HomeSection_HotRelease_Book_Author {
  -webkit-line-clamp: 1;
  padding-top: 2px;
  line-height: 20px;
  font-size: 14px;
  color: var(--slategray_30);
}

.HotRelease_Navigator {
  position: absolute;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  top: -67px;
  right: 11px;

  & > li {
    display: inline-block;

    & > button {
      width: 10px;
      height: 3px;
      padding: 0;
      border: 0;
      background: rgba(209, 213, 217, 0.4);
      font-size: 0;
      opacity: .3;
      cursor: pointer;
    }
     &:first-child > button {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
     &:last-child > button {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.slick-active {
      & > button {
        background: #d1d5d9;
      }
    }

    & + li {
      margin-left: 4px;
    }
  }
}
