.HomeSection_ChartGroup {
  position: relative;
  margin: 0;
  padding: 0;

  &:first-child {
    padding-right: 14px;
    & .HomeSection_ChartBookRanking {
      margin-left: 0;
    }
  }
}

.HomeSection_ChartBook {
  display: flex;
  align-items: start;
  color: inherit;
  text-decoration: inherit;
  min-height: 77px;
  padding-right: 15px;
  list-style: none;

  & + .HomeSection_ChartBook {
    margin-top: 14px;
  }
  @media (hover: hover) {
    &:hover {
      & .HomeSection_ChartBookTitle {
        color: #000;
      }
    }
  }
  @media (hover: none) {
    &:active {
      & .HomeSection_ChartBookTitle {
        color: #000;
      }
    }
  }
}

.HomeSection_ChartBookRanking {
  align-self: center;
  min-width: 19px;
  margin-right: 10px;
  color: #303538;
  font-family: Minion Pro;
  font-size: 20px;
  text-align: center;
}

.HomeSection_ChartBookThumbnail {
  width: 50px;
}

.HomeSection_ChartBookMeta {
  align-self: center;
  width: 130px;
  margin: 10px;
  color: #40474d;
  font-size: 13px;
}

.HomeSection_ChartBookTitle {
  display: block;
  display: -webkit-box;
  max-height: 2.8em;
  overflow: hidden;
  line-height: 1.4em;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  transition: color .2s;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
}

.HomeSection_ChartBookRating {
  display: inline-block;
  margin-top: 5px;
  vertical-align: middle;
}

.HomeSection_ChartBookRatingCount {
  display: inline-block;
  margin-top: -1px;
  margin-left: 3px;
  color: #9ea7ad;
  font-size: 12px;
  line-height: 1em;
  vertical-align: top;
}

@media (--pc-screen) {
  .HomeSection_Chart {
    display: table;
    width: 100%;
    margin-top: 30px;
  }
  .HomeSection_ChartGroup {
    display: table-cell;
    vertical-align: top;
    & + .HomeSection_ChartGroup {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #e6e8eb;
        content: '';
      }
    }
  }
  .HomeSection_ChartBookRanking {
    margin: 0 14px;
  }
  .HomeSection_ChartBookTitle {
    width: 150px;
  }
}

@media (--mobile-screen) {
  .HomeSection_Chart {
    display: block;
    margin: 20px calc(-1 * var(--horizontal-padding)) 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    & .HomeSection_ChartGroup {
      display: inline-block;
      vertical-align: top;
    }
    & .HomeSection_ChartBookTitle {
      white-space: normal;
    }
    & > .HomeSection_ChartGroup:first-child {
      margin-left: var(--horizontal-padding);
    }

    & > .HomeSection_ChartGroup:last-child {
      margin-right: var(--horizontal-padding);
    }
  }
}