:root {
  --horizontal-padding: 20px;
  --book-width-mobile: 110px;
  --book-width-pc: 120px;
}

.HomeSection {
  padding: 30px var(--horizontal-padding) 0;
  background-color: #fff;
  &:last-child {
    padding-bottom: var(--horizontal-padding);
  }
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0 0;
  }
}

.HomeSection_Title {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 19px;
  margin: 0;
  padding-right: 10px;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  text-decoration: unset;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (--pc-screen) {
    display: block;
    width: 100%;
    padding-right: 80px;
    font-size: 17px;
  }
}

.HomeSection_TitleArrowIcon {
  position: absolute;
  top: 4px;
  right: 0;
  width: 6px;
  height: 10px;
  margin-left: 6px;
  transition: fill .2s;
  fill: #636c73;

  @media (--pc-screen) {
    position: relative;
    top: initial;
    right: initial;
    fill: #b8bfc4;
  }
}

.HomeSection_TitleLink {
  float: right;
  color: #808991;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: color .2s;

  @media (--pc-screen) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--slategray_70);
      & .HomeSection_TitleArrowIcon {
        fill: var(--slategray_50);
      }
    }
  }

  @media (hover: none) {
    &:active {
      color: var(--slategray_70);
      & .HomeSection_TitleArrowIcon {
        fill: var(--slategray_50);
      }
    }
  }
}

.HomeSection_Books {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  @media (--mobile-screen) {
    margin: 20px calc(-1 * var(--horizontal-padding)) 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    & > .HomeSection_Book:first-child {
      margin-left: var(--horizontal-padding);
    }

    & > .HomeSection_Book:last-child {
      margin-right: var(--horizontal-padding);
    }
  }
  @media (--pc-screen) {
    & > .HomeSection_Book:nth-child(n+7) {
      display: none;
    }
  }
}

.HomeSection_BookLink {
  text-decoration: none;
}


.HomeSection_Book {
  width: var(--book-width-mobile);
  list-style: none;

  & > .HomeSection_ChartBook {
    flex-direction: column;
  }

  @media (--pc-screen) {
    width: var(--book-width-pc);
  }

  & + .HomeSection_Book {
    margin-left: 10px;
    @media (--pc-screen) {
      margin-left: 16px;
    }
  }
}

.HomeSection_BookThumbnail {
  width: var(--book-width-mobile);
  @media (--pc-screen) {
    width: var(--book-width-pc);
  }
}

.HomeSection_BookTitle {
  display: block;
  margin-top: 10px;
  color: #40474d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  word-wrap: break-word;
}

