@import 'LNB.css';
@import 'BigBanner.css';
@import 'HomeSection.css';
@import 'HomeSectionChartBook.css';
@import 'HomeSectionSpotlight.css';
@import 'SliderControls.css';

:root {
  --panel-margin: 4px;
}

.PageHome {
  @media (--pc-screen) {
    padding-bottom: 80px;
    background-color: initial;
  }
  @nest .androidApp & {
    padding-bottom: 0;
  }
}

.PageHome_Panel {
  & + .PageHome_Panel {
    border-bottom: var(--panel-margin) solid var(--slategray_10);
  }
  @media (--pc-screen) {
    & + .PageHome_Panel {
      margin-top: 0;
      border-bottom: 0;
    }
  }
}
