.Slider_Controls {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 544px;
  transform: translate3d(-50%, -50%, 0);
  white-space: nowrap;
  pointer-events: none;

  @nest .BigBanner-isMobile & {
    display: none;
  }
}

.Slider_ControlButton {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  transform: translate3d(0, -50%, 0);
  border: 0;
  line-height: 40px;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  cursor: pointer;
  pointer-events: all;
  transition: background-color .2s;
  @media (hover: hover) {
    &:hover {
      background-color: rgba(209, 213, 217, 0.25);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: rgba(209, 213, 217, 0.25);
    }
  }
}
.Slider_ControlButton_Left {
  left: 3px;
}
.Slider_ControlButton_Right {
  right: 3px;
}

.Slider_ControlIcon {
  width: 8px;
  height: 13px;
  vertical-align: top;
  margin-top: 12px;
  fill: #fff;
  @nest .Slider_ControlButton_Left & {
    margin-right: 1px;
  }
  @nest .Slider_ControlButton_Right & {
    margin-left: 1px;
  }
}