.HomePlaceholder_BookList {
  padding: 30px 0;
}

.PageHome.Skeleton_Wrapper {
  padding-bottom: 200px;
  background-color: #fff;
  @media (--pc-screen) {
    padding-bottom: 150px;
  }
}

.BigBannerSkeleton {
  position: relative;
  overflow: hidden;
  &.Skeleton_Wrapper {
    min-height: 0;
  }
  & .Skeleton {
    position: relative;
    width: 100%;
    padding-top: calc((2 / 3) * 100%);
    content: '';
    @media (min-width: 433px) {
      height: 288px;
      padding-top: 0;
    }
  }
}

.HomeSection_Skeleton {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 30px 20px 20px;
  background: #fff;
  & .HomeSection_Header {
    display: block;
    width: 200px;
    height: 20px;
  }
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0 0;
  }
}

.HomeSection_Chart_Skeleton {
  & .HomeSection_ChartBookThumbnail {
    display: inline-block;
    width: 50px;
    height: 70px;
  }
  & .HomeSection_ChartBookTitle {
    display: block;
    width: 120px;
    height: 18px;
  }
  & .HomeSection_ChartBookRating {
    display: block;
    width: 68px;
    height: 11px;
  }
}
