.HomePlaceholder_BookList {
  padding: 30px 0;
}

.PageHome.Skeleton_Wrapper {
  padding-bottom: 200px;
  background-color: #fff;
  @media (--pc-screen) {
    padding-bottom: 150px;
  }
}

.BigBannerSkeleton {
  position: relative;
  overflow: hidden;
  &.Skeleton_Wrapper {
    min-height: 0;
  }
  & .Skeleton {
    position: relative;
    width: 100%;
    padding-top: calc((2 / 3) * 100%);
    content: '';
    @media (min-width: 433px) {
      height: 288px;
      padding-top: 0;
    }
  }
}

.HomeSection_Skeleton {
  box-sizing: border-box;
  width: 100%;
  height: 298px;
  overflow: hidden;
  padding: 30px 20px 20px;
  background: #fff;
  & .HomeSection_Header {
    display: block;
    width: 200px;
    height: 20px;
  }
  &.HomeSection_Chart_Skeleton {
    height: 440px;
  }
  @media (--pc-screen) {
    width: 800px;
    height: 318px;
    margin: 0 auto;
    padding: 60px 0 0;
    &.HomeSection_Chart_Skeleton {
      height: 479px;
    }
  }
}

.HomeSection_Chart_Skeleton {
  & .HomeSection_ChartBookThumbnail {
    display: inline-block;
    width: 50px;
    height: 70px;
  }
  & .HomeSection_ChartBookTitle {
    display: block;
    width: 120px;
    height: 18px;
  }
  & .HomeSection_ChartBookRating {
    display: block;
    width: 68px;
    height: 11px;
  }
}

.HomeSection_HotRelease_Skeleton {
  position: relative;
  z-index: 200;
  & .HomeSection_HotRelease_Contents {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 45px;
  }
  & .HomeSection_HotRelease_Title_Skeleton {
    width: 200px;
    height: 34px;
    margin: 0 0 34px;
    background-color: rgba(0,0,0,.3);
  }
  @media (--pc-screen) {
    & .HomeSection_HotRelease_Contents {
      text-align: center;
    }
  }
  @media (--mobile-screen) {
    & .HomeSection_HotRelease_Contents {
      width: 100%;
      padding-top: 34px;
      overflow: hidden;
    }
    & .HomeSection_HotRelease_Title_Skeleton {
      height: 24px;
      margin: 0 0 11px;
    }
  }
}