.PageMySelectHistory.Skeleton_Wrapper {
  & .LandscapeBookList_Item_Skeleton {
    margin: 0;
    padding-top: 12px;
  }
  & .Book_Skeleton {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  & .Thumbnail_Skeleton {
    display: table-cell;
    width: 50px;
    height: 74px;
    @media (--pc-screen) {
      width: 80px;
      height: 117px;
    }
  }
  & .BookMetadata_Wrapper {
    display: table-cell;
    padding: 6px 0 0 20px;
  }
  & .Title_Skeleton {
    height: 20px;
    margin-top: 0;
  }
  & .Author_Skeleton {
    height: 14px;
    margin-top: 8px;
  }
}
