{% extends "mail_base.twig" %}
{% block contents %}
  <h1 style="margin: 0; padding: 40px 0; font-size: 28px; font-weight: 600; color: #2b2f33; text-align: center; line-height: 1.4em;">
    구독 해지 예약 안내
  </h1>
  <table cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; color: #333; font-size: 13px; line-height: 1.7em; border-top: 1px solid #848484;" >
    <tbody>
      <tr>
        <th style="text-align: left; padding: 10px 10px 10px 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold; background: #f6f6f6;">
          예약 일시
        </th>
        <td style="padding: 10px 10px 10px 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold;">
          {{ optout_date }}
        </td>
      </tr>
      <tr>
        <th style="text-align: left; padding: 10px 10px 10px 15px; border-bottom: 1px solid #848484; font-weight: bold; background: #f6f6f6;">
          이용 기간
        </th>
        <td style="padding: 10px 10px 10px 15px; border-bottom: 1px solid #848484; font-weight: bold;">
          {{ ticket_start_date }} ~ {{ ticket_end_date }}
        </td>
      </tr>
    </tbody>
  </table>
  <div style="padding: 20px 0 40px 0; text-align: center;">
    <p
      style="
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: -0.5px;
        text-align: center;
        color: #636c73;
        margin: 0 0 30px 0;
      "
    >
      구독 해지가 예약 되었습니다. 이용 기간이 종료될 때까지 서비스를 계속 이용하실 수 있습니다.
    </p>
    <a
      href="{{ HOST_LINK }}/manage-subscription"
      style="
        display: inline-block;
        text-decoration: none;
        margin: 0;
        padding: 12px 50px;
        border: 1px solid #1f8ce6;
        background-color: #1f8ce6;
        font-size: 13px;
        line-height: 1em;
        color: white;
        font-weight: bold;
        text-align: center;
        box-shadow: none;
        border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px;
      "
    >
      구독 해지 예약 취소
    </a>
  </div>
{% endblock %}
