.AboutIndicatingBuyer {
  margin-top: 15px;
  padding: 0 15px;
  @media (--pc-screen) {
    padding: 0;
  }
}

.AboutIndicatingBuyer_Header {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.AboutIndicatingBuyer_Title {
  @apply --reset-layout;

  padding: 5px 0;
  color: #8595a3;
  font-size: 12px;
  font-weight: 400;
  transition: color .3s;
  &.pressed {
    color: #303745;
  }
}

.AboutIndicatingBuyer_Title_Icon {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  transform: rotate(0);
  transition: fill .3s;
  fill: #8595a3;

  /* transition: all 0.75s 0.25s; */

  &.pressed {
    transform: rotate(180deg);
    fill: #303745;
  }
}

.AboutIndicatingBuyer_ToggleButton {
  @apply --reset-button;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.AboutIndicatingBuyer_DescriptionWrapper {
  margin-top: 7px;
  padding: 24px;
  border-radius: 3px;
  background: #f3f4f5;
  color: #8595a2;
  font-size: 13px;
  line-height: 20px;
}

.AboutIndicatingBuyer_Paragraph {
  @apply --reset-layout;

  color: #303745;
}

.AboutIndicatingBuyer_Description_Title {
  @apply --reset-layout;

  margin-top: 10px;
  font-weight: 700;
}

.AboutIndicatingBuyer_Description_List,
.AboutIndicatingBuyer_Description {
  @apply --reset-layout;
}
