.RatingBarGraph_List {
  margin: 0;
  padding: 0;
  list-style: none;
}

.RatingBarGraph_Item {
  margin-top: 4px;
  color: #808991;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -.08em;
  &:first-child {
    margin-top: 0;
  }
}

.RatingBarGraph_StarIcon {
  width: 9px;
  height: 10px;
  fill: #808991;
}

.RatingBarGraph_Background {
  display: inline-block;
  width: 72px;
  height: 8px;
  margin-left: 4px;
  background: #e8edf3;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.RatingBarGraph_Bar {
  display: block;
  width: 0;
  height: 8px;
  background: #738096;
  background: linear-gradient(to bottom, #9daab5, #718392);
}

.BuyerRatingSummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 15px;
}

.BuyerRatingSummary_Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.BuyerRatingSummary_Left_Block {
  margin-right: 8px;
}

.AverageRating_Title {
  margin: 0 0 5px;
  color: #808991;
  font-size: 13px;
  font-weight: 600;
}

.AverageRating_StarRating {
  display: block;
}

.AverageRating_Score {
  @apply --reset-layout;

  margin-top: -4px;
  color: #212529;
  font: 44px review_num;
}

.BuyerRatingSummary_Right {
  position: relative;
  text-align: right;
}

.ParticipantCount {
  margin: 0;
  padding: 0 3px 6px 0;
  color: rgb(184, 191, 196);
  font-size: 13px;
}

.RatingbarGraph_ToggleButton {
  display: block;
  margin: 0;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: 0;
  background: 0 0;
  color: rgb(128, 137, 145);
  font-size: 13px;
  font-weight: 600;
  box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.RatingbarGraph_ToggleButton_Icon {
  width: 9px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
  fill: rgb(128, 137, 145);
}

.RatingbarGraph_DrowDown {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  right: 0;
  width: 116px;
  height: 115px;
  margin-top: 6px;
  padding: 8px 0 12px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(128, 137, 145);
  border-image: initial;
  background: rgb(255, 255, 255);
  background: white;
  text-align: center;
  z-index: 40;
}

@media (--pc-screen) {
  .BuyerRatingSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: auto;
    margin-top: 7px;
  }

  .AverageRating_Title {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }

  .AverageRating_Score {
    display: block;
    margin-top: 7px;
    margin-bottom: -7px;
  }

  .AverageRating_StarRating {
    margin: 5px 0 15px;
  }

  .ParticipantCount {
    width: 94px;
    margin: 10px 0 0;
    padding-top: 8px;
    border-top: 1px solid #e5e5e5;
    color: #94a2b8;
    font-size: 12px;
    text-align: center;
  }
}
