.MyReview {
  padding: 10px 15px 0;
  @media (--pc-screen) {
    padding: 0;
  }
}

.MyReview_DataWrapper {
  @media (--pc-screen) {
    padding: 18px;
    border-radius: 3px;
    background: #f2f4f5;
  }
}

.MyReview_Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}

.MyReview_ReviewDate {
  color: #808991;
  font-size: 11px;
}

.MyReview_EditingButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.MyReview_EditButton,
.MyReview_DeleteButton {
  @apply --reset-button;
}

.MyReview_EditButton {
  position: relative;
  padding: 3px 7px;

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -2px;
    width: 3px;
    height: 3px;
    margin-top: -1px;
    border-radius: 3px;
    background: #d1d5d9;
    content: '';
  }
}

.MyReview_DeleteButton {
  padding: 4px 8px;

  &.spinner {
    position: relative;
    color: rgb(255, 255, 255, 0);
    z-index: 30;

    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      margin-left: 6px;
      transform: translate3d(-50%, -50%, 0);
      transform-origin: center;
      background-image: url(var(--Spinner-color-gray));
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      animation: SpinnerRotation 1s step-start forwards infinite;
      content: '';
      z-index: 31;
    }
  }
}

.MyReview_EditButton_Icon,
.MyReview_DeleteButton_Icon {
  fill: #808991;
}


.MyReview_EditButton_Icon {
  width: 14px;
  height: 18px;
}

.MyReview_DeleteButton_Icon {
  width: 12px;
  height: 16px;

  @nest .MyReview_DeleteButton.spinner & {
    opacity: 0;
  }
}
