.StarRatingForm {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 18px 10px 15px;
}

.StarRatingForm_Spinner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -2px;
  background: rgba(243, 244, 245, .8);
  z-index: 30;

  @media (--pc-screen) {
    margin-top: 0;
    background: rgba(255, 255, 255, .8);
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    background-image: url(var(--Spinner-color-gray));
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: SpinnerRotation 1s step-start forwards infinite;
    content: '';
    z-index: 31;
    @media (--pc-screen) {
      margin-top: 8px;
    }
  }
}

.StarRatingForm_Row {
  display: inline-flex;
  justify-content: center;
  min-height: 39px;
}

.StarRatingTooltip_Tooltip {
  position: relative;
  min-width: 80px;
  height: 31px;
  margin: 0;
  padding: 0 15px;
  border-radius: 4px;
  background: #1f8ce6;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;

  &.dimmed {
    background: #636c73;
    & .StarRatingTooltip_Icon {
      fill: #636c73;
    }
  }
}

.StarRatingTooltip_Icon {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 10px;
  height: 6px;
  margin-left: -5px;
  content: '';
  fill: #1f8ce6;
}

.StarRatingTooltip_Guide {
  display: inline-block;
  height: 34px;
  margin: 0;
  color: #9ea7ad;
  font-size: 15px;
  font-weight: 700;
  line-height: 34px;
}

@media (--pc-screen) {
  .StarRatingForm {
    padding: 0 0 18px;
  }

  .StarRatingForm_Row {
    min-height: 42px;
  }

  .StarRatingTooltip_Guide {
    height: 37px;
    font-size: 18px;
    line-height: 37px;
  }
}

.MyStarRatingStatus {
  margin-top: -12px;
}

.MyStarRatingStatus_Rating {
  padding: 0 0 0 8px;
  color: #fa722e;
  font: 400 36px review_num;
  vertical-align: -2%;
}

.MyStarRatingStatus_Description {
  display: inline-block;
  margin: 0;
  color: #636c73;
  font-size: 14px;
  font-weight: 700;
}

.MyStarRatingStatus_CancelButton {
  display: inline-block;
  padding: 8px;
  border: none;
  background: 0 0;
  color: #b8bfc4;
  font-size: 12px;
  font-weight: 700;
  transition: color .2s;
  vertical-align: 6%;
  appearance: none;

  &:hover {
    color: #1f8ce6;
  }
}
