.InAppIntro_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
}

.InAppIntro_Overlay_BG {
  position: relative;
  width: 100%;
  height: 100%;
  background: #212b3b;
  opacity: .97;
}

.InAppIntro_Overlay_Main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.InAppIntro_Overlay_Header {
  @apply --reset-layout;
}

.InAppIntro_Overlay_Logo {
  width: 140px;
  height: 23px;
  fill: white;
}

.InAppIntro_Overlay_Description {
  margin-bottom: 24px;
  color: #d8d8d8;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.InAppIntro_Overlay_Button {
  display: inline-block;
  align-items: initial;
  justify-content: initial;
  width: 300px;
  height: 50px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  pointer-events: all;
  vertical-align: middle;
}

.InAppIntro_Overlay_Button_Icon {
  width: 17px;
  height: 17px;
  margin: -1px 0 0 5px;
  vertical-align: middle;
  fill: white;
}

.GNBLogoWrapper .GNBLogo-InAppIntro {
  height: 12px;
  pointer-events: none;
  fill: #59667a;
}
