@charset "utf-8";

@import '@ridi/rsg/colors/colors.css';
@import "normalize.css";
@import '@ridi/rsg/stylesheets/dist/rui-no-reset.css';
@import '@ridi/rsg/stylesheets/dist/book-no-reset.css';
@import '@ridi/rsg/components/dist/components.css';
@import 'base/customProperties.css';

@import 'base/globals.css';
@import 'base/skeleton.css';
@import 'base/GNB.css';
@import 'base/Footer.css';
@import 'base/PipeDelimitedListMenu.css';
@import 'base/RSGTab.css';
@import 'base/Toast.css';
@import 'base/Tabs.css';
@import 'base/InlineHorizontalBookList.css';
@import 'base/GridBookList.css';
@import 'base/ErrorPage.css';
@import 'base/ExpireBook.css';
@import 'base/MaintenancePage.css';
@import 'base/TextTruncate.css';
@import 'base/ExpandableBookList.css';
@import 'intro/intro.css';
@import 'home/index.css';
@import 'search_result/index.css';
@import 'review/index.css';
@import 'book_detail/index.css';
@import 'my_select/index.css';
@import 'my_select_history/index.css';
@import 'guide/Guide.css';
@import 'rui/index.css';
@import 'placeholder/index.css';
@import 'setting/index.css';
@import 'setting/ManageSubscription.css';
@import 'setting/OrderHistory.css';
@import 'category/index.css';
@import 'closing_reserved_books/index.css';

@import 'placeholder/BookListPlaceholder.css';
@import 'placeholder/HomePlaceholder.css';
@import 'placeholder/SubscriptionListPlaceholder.css';
@import 'placeholder/MySelectHistoryPlaceholder.css';
@import 'placeholder/BookDetailPlaceholder.css';
@import 'in_app_intro.css';

@import 'test_badge.css';

