@import '@ridi/rsg/colors/colors.css';

.DEV_environment_ribbon,
.PRE_RELEASE_environment_ribbon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 14px;
  margin: 0 0 0 -150px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 999;
}

@media (--mobile-screen) {
  .DEV_environment_ribbon,
  .STAGING_environment_ribbon {
    width: 150px;
    margin-left: -75px;
  }
}

.DEV_environment_ribbon {
  background: var(--orange_30);
}
.PRE_RELEASE_environment_ribbon {
  background: var(--lightsteelblue_60);
  font-size: 11px;
}
