<!DOCTYPE html>
<html lang="ko">
<head>
  <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="2;url=https://static.ridibooks.com/pages/end_support_ie.html" />
  <![endif]-->

  <title>리디셀렉트 - 신간도 베스트셀러도 월정액으로 제한없이</title>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="format-detection" content="telephone=no">

  <meta name="keywords" content="리디셀렉트, 리디북스 셀렉트, 셀렉트, 월정액 전자책, 무제한 전자책, 전자책, e-book, e북, 이북, 전자도서, 전자책어플, 인터넷책, 도서어플, 전자서점, 인터넷서점, 온라인서점" />
  <meta name="description" content="신간도 베스트셀러도 월정액으로 제한없이" />

  <meta property="og:title" content="리디셀렉트">
  <meta property="og:description" content="신간도 베스트셀러도 월정액으로 제한없이">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%=host%>">
  <meta property="og:image" content="<%=host%><%=require('images/public/select-img_ridiselect.jpg')%>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta name="twitter:site" content="@ridibooks" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="msapplication-TileImage" content="<%=require('images/public/select-mstile-144x144.png')%>">
  <meta name="msapplication-TileColor" content="#17202e">
  <meta name="theme-color" content="#17202e">
  <meta name="apple-mobile-web-app-title" content="리디셀렉트">

  <link rel="search" title="리디셀렉트 검색" type="application/opensearchdescription+xml" href="/open-search-description.xml">
  <link rel="apple-touch-icon" sizes="180x180" href="<%=require('images/public/select-apple-touch-icon.png')%>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%=require('images/public/ridiselect-favicon-32x32.png')%>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%=require('images/public/ridiselect-favicon-16x16.png')%>">
  <link rel="mask-icon" href="<%=require('images/public/select-safari-pinned-tab.svg')%>" color="#5bbad5">

  <script>window.__RIDISELECT_HOST__ = "<%=host%>";</script>
  <% if (isStaging) { %>
  <script>
    window.__RIDISELECT_STAGING__ = true;
    window.__RIDISELECT_USE_PRODUCTION__ = function() {
      try {
        fetch('/prod').then(function() {
          location.reload();
        });
      } catch (e) {
        location.href = '/prod';
      }
    }
  </script>
  <% } %>
  <script><%= require('raw-loader!inline/inApp.js') %></script>
</head>
<body>
  <div id="app"></div>
  <iframe id="bookDownloadIframe" width="0" height="0" title="내용없음" style="visibility: hidden;"></iframe>
</body>
</html>
